section {
	max-width: auto;
	margin: 30px auto;
	background-color: gray;
}

.container {
	max-width: 1100px;
}
.row div {
	outline: 2px solid white;
}

.row .row {
	position: relative;
	margin: 0;
	padding: 0 -12px;
}
