section {
	max-width: 960px;
	margin: 100px auto;
	background-color: slategray;
}
/*transition 只能用在有數字的情況 opacity 可以 display visibility不行*/
.box {
	width: 600px;
	height: 600px;
	background-color: red;
	opacity: 0;
	transition: transform 3s 0s ease-in-out, border-radius 4s 1s ease-in-out,
		opacity 5s 2s ease-in-out;
	transition-timing-function: ease-in-out;
}
.box:hover {
	background-color: red;
	transform: translateX(100px);
	border-radius: 50%;
	opacity: 1;
	/* margin-left: 100px*/
	/*transition-property: opacity, border-radius, transform;
	transition-duration: 3s, 4s, 5s;
	transition-delay: 0s, 1s, 2s;*/
	transition: opacity 3s 0s ease-in-out, border-radius 4s 1s ease-in-out,
		transform 5s 2s ease-in-out;
}
.box:hover::after {
	content: "";
	background-color: yellow;
	border: 20px solid red;
}

.card {
	width: 300px;
	padding: 30px;
	background-color: tan;
}
.card-img {
	position: relative;
	overflow: hidden;
}

.bob {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.card-img:hover .bob {
	opacity: 1;
	transform: translateX(0%);
}
.card-img span {
	width: 100%;
	position: absolute;
	background-color: orange;
	text-align: center;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s, transform 1s;
}
.card-img:hover span {
	opacity: 1;
	transform: translateY(0px);
	z-index: 1;
	transition: opacity 0.5s 1s, transform 0.5s 1s;
}
